.header{
    background-color: #d4af37;
    display:flex;
    justify-content: right;
}
.footer{
    display:flex;
    justify-content:flex-end;
}
.header{
    padding: 20px;
    margin: 20px;
}
.grid{
    padding: 20px;
    margin: 0px;
}
